.carouselSection{
    position: relative;
    margin-bottom: 70px;
    & > .contentWrapper{
        display: flex;
        align-items: center;
        justify-content: space-between;
        margin-bottom: 20px;
    }
    .carouselTitle{
        font-size: 24px;
        color: white;
        font-weight: normal;
    }
    .carouselSubtitle {
        color: rgba(255, 255, 255, 0.6);
        font-size: 0.9rem;
        margin-top: 0.5rem;
        font-weight: 400;
    }
}